<!-- add the selector from the CustomerDashboardComponent -->
<!--
<h3>Basic Email Reader by Shubhankar:</h3>

<h3>Email-Reader-Basics : Data Binding:</h3>


<app-email-reader-basics> </app-email-reader-basics>
-->
<p>
Assignment 2 Programming Of User Interfaces
</p><!--
<app-email-reader-form> </app-email-reader-form>



-->
<router-outlet> 
    <button type="button" class="btn btn-success mb-2" [routerLink]="['/create']"> Write new Email : Email Form</button>
    <button type="button" class="btn btn-success mb-2" [routerLink]="['/view']"> Email Basics </button>
    <button type="button" class="btn btn-success mb-2" [routerLink]="['/']"> Home</button>
    
</router-outlet>


